h1, h3 {
    text-align: center;
    color:red;
    font-weight: bolder;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    text-align: left;
}

li::marker {
    color:red;
}

button {
    background-color: red;

}

button:hover {
    color:aliceblue;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

section {
    text-align: center;
}

.endnote {
    color: red;
}

#navb {
    text-align: center;
}

#descriptions {
    text-align: center;
}

#logo {
    text-align: center;
}

#end {
    text-align: left;
}

#htmlConnect {
    font-size: 24px;
}